body{
   background-color: beige;
 }
 
 /* =======navbar================*/
 .navbar{
   background-color: floralwhite;
 }
 
 /* =============BAnner================ */
 .banner-card-text{
 
   max-width: 650px;
    color: #d2691e;
   text-shadow: 2px 2px 4px #000000;
 }
 
 